* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Img/7397be8f79f246fd1411d46019451e15.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

#buttons {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

button:hover {
    opacity: 0.8;
}

#stone {
    background-color: rgba(255, 255, 0, 0.603);
}

#paper {
    background-color: rgba(0, 0, 255, 0.575);
}

#scissors {
    background-color: rgba(255, 0, 0, 0.603);
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

#your-score span {
    color: rgb(5, 207, 5);
}

#bot-score span{
    color: rgb(255, 155, 5);
}